---
layout: archive
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: unsplash-image-1.jpg
  padding: 2em
  cta_label: "Learn More"
  cta_url: "/about/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Welcome to R Learning Community Blog! With this platform, you can not
only record your notes or codes that solve the difficult problem in case of
forgetting but also learn from other's articles. "
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
